@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.container{
    margin: 25px 0 0;
}

.header{
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav__logo{
    height: 25px;
}

.nav__ul{
    display: flex;
    list-style: none;
}

.ul__li{
    margin-right: 10px;
}

.ul__li:last-child{
    margin-right: 0;
}

.header__logo{
    width: 100%;
    margin-bottom: 35px;
}

.header__h1{
    font-family: 'Raleway';
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.header__p{
    text-align: center;
    color: hsl(243, 87%, 12%);
    line-height: 1.5;
    margin-bottom: 35px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.form__input, .form__button{
    height: 50px;
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 75%);
    font-size: 16px;
}

.form__input{
    border: 1px solid hsl(238, 22%, 44%);
    padding-left: 25px;
    margin-bottom: 15px;
}

.form__button{
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 1.2px;
    background-color: hsl(224, 93%, 58%);
}

.article{
    background-color: hsl(240, 75%, 98%);
    padding-bottom: 75px;
}

.article__content{
    margin: 0 25px 0;
}

.content__logo{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 75px;
}

.info__h3{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 35px;
}

.info__p{
    text-align: start;
    margin-bottom: 25px;
    font-size: 14px;
    color: hsl(238, 22%, 44%);
}

.green{
    width: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid green;
    margin-bottom: 50px;
}

.arrow{
    width: 25px;
}

.card{
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.card__img{
    width: 20px;
    margin-bottom: 15px;
}

.card__p{
    color:hsl(243, 87%, 12%);
    line-height: 1.5;
    font-size: 10px;
    margin-bottom: 15px;
}

.data{
    display: flex;
    align-items: center;
}

.data__img{
    height: 25px;
    border-radius: 50%;
}

.data__info{
    margin-left: 10px;
}

.data__info span{
    font-size: 10px;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
}

.data__info p{
    font-size: 9px;
}

.access{
    background-color:hsl(238, 22%, 44%);
    color: #fff;
    padding: 50px 35px 50px;
    text-align: center;
}

.access__h3{
    font-size: 16px;
    letter-spacing: 1.2px;
}

.access__p{
    font-size: 15px;
    margin: 25px 0 25px;
}

.from__access{
    width: 80%;
}

.access__input{
    height: 35px;
    font-size: 10px;
}

.footer{
    background-color:hsl(243, 87%, 12%);
    color: #fff;
    padding: 50px 35px 50px;
}

.footer__logo{
    width: 175px;
    margin-bottom: 35px;
}

.phone, .email{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.phone__img, .email__img{
    margin-right: 15px;
}

.nav{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav ul{
    list-style: none;
}

.nav ul li{
    margin-bottom: 10px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:1024px) {
    .header__nav{
        margin-top: 50px;
    }

    .nav__logo{
        margin-left: 45px;
    }

    .nav__ul{
        margin-right: 25px;
    }

    .nav__ul li{
        margin-right: 25px;
    }

    .header2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .header__logo{
        width: 50%;
        margin-bottom: 35px;
    }

    .header2-3{
        width: 45%;
    }
    
    .header__h1{
        text-align: start;
    }
    
    .header__p{
        text-align: start;
    }
    
    .form{
        flex-direction: row;
        width: 100%;
    }
    
    .form__input, .form__button{
        height: 45px;
        /* border: none; */
        border-radius: 5px;
        color: hsl(0, 0%, 75%);
        font-size: 16px;
    }
    
    .form__input{
        border: 1px solid hsl(238, 22%, 44%);
        padding-left: 25px;
        margin-bottom: 15px;
        margin-right: 25px;
    }
    
    .form__button{
        width: 95%;
        color: #fff;
        font-family: 'Raleway';
        font-weight: 700;
        letter-spacing: 1.2px;
        background-color: hsl(224, 93%, 58%);
    }

    .article__content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }
    
    .content__logo{
        width: 50%;
    }
    
    .info__h3{
        text-align: start;
        font-size: 24px;
        margin-top: 50px;
    }
    
    .green{
        margin: 0;
    }
    
    .card{
        width: 70%;
        margin: 0;
        margin-top: 35px;
    }

    .access{
        display: flex;
    }

    .access__info{
        width: 80%;
        padding: 15px;
    }
    
    .access__h3{
        text-align: start;
        font-size: 18px;
    }
    
    .access__p{
        text-align: start;
    }
    
    .from__access{
        flex-direction: column;
        align-self: center;
        width: 80%;
        padding: 15px;
    }
    
    .access__input{
        height: 35px;
        font-size: 10px;
    }

    .access__input2{
        width: 40%;
    }

    .footer{
        background-color:hsl(243, 87%, 12%);
        color: #fff;
        padding: 50px 35px 50px;
    }

    .footer__info{
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }
    
    .nav{
        margin-top: 0;
        margin-bottom: 50px;
    }
}